<footer class ="text-secondary text-center p-2" style="font-size:smaller;"><hr>
  <div class="gap-3 d-flex justify-content-center">
    <a href="mailto:sydney.horan@uconn.edu"><i class="fa-solid fa-envelope text-secondary fa-xl" aria-label="Email"></i></a>
    <a href="https://orcid.org/0009-0006-5466-1367"><i class="fa-brands fa-orcid text-secondary fa-xl" aria-label="ORCID"></i></a>
<a href="https://bsky.app/profile/sydhoran.com"><i class="fa-brands fa-bluesky text-secondary fa-xl" aria-label="Bluesky"></i></a>
<a href="https://github.com/longspur"><i class="fa-brands fa-github text-secondary fa-xl" aria-label="GitHub"></i></a></div>
    <p class="mt-2">
    © 2026 Sydney Horan. Site coded by hand, hosted on <a href="https://docs.github.com/en/pages">GitHub Pages</a>.
    <br>
Last Updated: <i>July 20th, 2026</i></p>


</footer>


    